body {
  min-height: 0 !important;
}
#googlemaps {
  /* do not change */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .75;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 300;
  margin: 120px 0 0 12px;
  padding: 10px 11px 10px 13px;
  text-overflow: ellipsis;
  width: 400px;
  z-index: 0;
}
#pac-input :focus {
  border-color: #4d90fe;
}
#range-slider {
  width: 30%;
  margin: -80px 0 0 100px;
}
#sendButton {
  margin: 13px 0 0 128px;
}
#loading {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 150px;
}
#markerContent {
  color: #000;
  background-color: #fff;
  padding: 5px;
  width: auto;
}
#logoPicture {
  margin: 10px;
  width: 100px;
  height: 100px;
}
